<%= form_with(model: employee, local: true) do |form| %>
  <% if employee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(employee.errors.count, "error") %> prohibió a este empleado de ser guardado:</h2>

      <ul>
      <% employee.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <strong>
    <%= form.label "Nombre completo" %><br />
    </strong>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <strong>
    <%= form.label "Título profesional" %><br />
    </strong>
    <%= form.text_field :job_title %>
  </div>

  <div class="field">
    <strong>
    <%= form.label "Subsidiaria" %><br />
    </strong>
    <%= form.text_field :subsidiary %>
  </div>

  <div class="field">
    <strong>
    <%= form.label "Departamento" %><br />
    </strong>
    <%= form.text_field :department %>
  </div>

  <div class="field">
    <strong>
    <%= form.label "Moneda" %><br />
    </strong>
    <%= form.text_field :currency %>
  </div>

  <div class="field">
    <strong>
    <%= form.label "Teléfono" %><br />
    </strong>
    <%= form.text_field :phone %>
  </div>
  <!--
  <h2>Habilidades</h2>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">ID Interno</th>
        <th scope="col">Nombre</th>
        <th scope="col">Descripción</th>
        <th scope="col">Grado de dificultad</th>
        <th scope="col">Grado de dominancia</th>
        
        <th colspan="3"></th>
        
      </tr>
    </thead>

    <tbody>
      <% employee.dominates.each do |dominate| %>
        <tr>
          <td><%= dominate.skill.id %></td>
          <td><%= dominate.skill.name %></td>
          <td><%= dominate.skill.description %></td>
          <td><%= dominate.skill.degree_of_difficulty %></td>
          <td><%= dominate.degree_of_dominance %></td>
          <td><%= link_to 'Editar', edit_dominate_path(dominate) %></td>
          <td><%= link_to 'Eliminar', dominate, method: :delete, data: { confirm: '¿Estás seguro?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  -->
  <div class="actions">
    <%= form.submit "Guardar" %>
  </div>
<% end %>
