<%= form_with(model: employee, local: true) do |form| %>
  <% if employee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(employee.errors.count, "error") %> prohibió a este empleado de ser guardado:</h2>

      <ul>
      <% employee.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <strong>
    <%= form.label "Nombre completo" %><br />
    </strong>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <strong>
    <%= form.label "Título profesional" %><br />
    </strong>
    <%= form.text_field :job_title %>
  </div>

  <div class="field">
    <strong>
    <%= form.label "Subsidiaria" %><br />
    </strong>
    <%= form.text_field :subsidiary %>
  </div>

  <div class="field">
    <strong>
    <%= form.label "Departamento" %><br />
    </strong>
    <%= form.text_field :department %>
  </div>

  <div class="field">
    <strong>
    <%= form.label "Moneda" %><br />
    </strong>
    <%= form.text_field :currency %>
  </div>

  <div class="field">
    <strong>
    <%= form.label "Teléfono" %><br />
    </strong>
    <%= form.text_field :phone %>
  </div>

  <div class="actions">
    <%= file_field_tag 'attachment', onchange: "readFile(this)" %><br />
    <%= form.submit "Guardar" %><br />
    <%= form.submit "Guardar empleado y generar XML", onclick: "download(this.form,'employee')" %>
  </div>
<% end %>
<script>
  function readFile(e) {
    var file = $(e)[0].files[0];
    if (!file) {
      return;
    }
    var reader = new FileReader();
    reader.onload = function (e) {
      var content = e.target.result;
      showContent(content);
    };
    reader.readAsText(file);
  }

  function showContent(content) {
    var parser = new DOMParser();
    var xmlDoc = parser.parseFromString(content, "text/xml");
    if(xmlDoc.getElementsByName("name")[0])
    {
      $("#employee_name").val(xmlDoc.getElementsByName("name")[0].getAttribute("value")); 
      $("#employee_job_title").val(xmlDoc.getElementsByName("job_title")[0].getAttribute("value"));
      $("#employee_subsidiary").val(xmlDoc.getElementsByName("subsidiary")[0].getAttribute("value"));
      $("#employee_department").val(xmlDoc.getElementsByName("department")[0].getAttribute("value"));
      $("#employee_currency").val(xmlDoc.getElementsByName("currency")[0].getAttribute("value"));
      $("#employee_phone").val(xmlDoc.getElementsByName("phone")[0].getAttribute("value"));
    }
    else {
      $("#employee_name").val(xmlDoc.getElementsByName("employee[name]")[0].getAttribute("value")); 
      $("#employee_job_title").val(xmlDoc.getElementsByName("employee[job_title]")[0].getAttribute("value"));
      $("#employee_subsidiary").val(xmlDoc.getElementsByName("employee[subsidiary]")[0].getAttribute("value"));
      $("#employee_department").val(xmlDoc.getElementsByName("employee[department]")[0].getAttribute("value"));
      $("#employee_currency").val(xmlDoc.getElementsByName("employee[currency]")[0].getAttribute("value"));
      $("#employee_phone").val(xmlDoc.getElementsByName("employee[phone]")[0].getAttribute("value"));
    }
  }
</script>