<%= form_with(model: employee, local: true) do |form| %>
  <% if employee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(employee.errors.count, "error") %> prohibited this employee from being saved:</h2>

      <ul>
      <% employee.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label "Nombre completo" %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label "Título profesional" %>
    <%= form.text_field :jobTitle %>
  </div>

  <div class="field">
    <%= form.label "Subsidiaria" %>
    <%= form.text_field :subsidiary %>
  </div>

  <div class="field">
    <%= form.label "Departamento" %>
    <%= form.text_field :department %>
  </div>

  <div class="field">
    <%= form.label "Modena" %>
    <%= form.text_field :currency %>
  </div>

  <div class="field">
    <%= form.label "Telefono" %>
    <%= form.text_field :phone %>
  </div>

  <div class="field">
    <%= form.label "Fecha de contratación" %>
    <%= form.date_select :dateOfHire %>
  </div>

  <div class="actions">
    <%= form.submit "Guardar" %>
  </div>
<% end %>
