<h1>Editar empleado</h1>
<%= form_tag("/employees/#{@employee.id}", method: :put, model: :employee) do -%>
  <% if @employee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@employee.errors.count, "error") %> prohibió a este empleado de ser guardado:</h2>

      <ul>
      <% @employee.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <strong>
    <%= label_tag "Nombre completo" %><br />
    </strong>
    <%= text_field_tag :name, value = @employee.name %>
  </div>

  <div class="field">
    <strong>
    <%= label_tag "Título profesional" %><br />
    </strong>
    <%= text_field_tag :job_title, value = @employee.job_title %>
  </div>

  <div class="field">
    <strong>
    <%= label_tag "Subsidiaria" %><br />
    </strong>
    <%= text_field_tag :subsidiary, value = @employee.subsidiary %>
  </div>

  <div class="field">
    <strong>
    <%= label_tag "Departamento" %><br />
    </strong>
    <%= text_field_tag :department, value = @employee.department %>
  </div>

  <div class="field">
    <strong>
    <%= label_tag "Moneda" %><br />
    </strong>
    <%= text_field_tag :currency, value = @employee.currency %>
  </div>

  <div class="field">
    <strong>
    <%= label_tag "Teléfono" %><br />
    </strong>
    <%= text_field_tag :phone, value = @employee.phone %>
  </div>

  <div class="actions">
    <%= file_field_tag 'attachment', onchange: "readFile(this)" %><br />
    <%= submit_tag "Actualizar" %><br />
    <%= submit_tag "Actualizar empleado y generar XML", onclick: "download(this.form,'employee')" %>
  </div>
<% end -%>

<%= link_to 'Cancelar', employees_path + "/#{@employee.id}" %> |
<%= link_to 'Regresar', employees_path %>
<script>
  function readFile(e) {
    var file = $(e)[0].files[0];
    if (!file) {
      return;
    }
    var reader = new FileReader();
    reader.onload = function (e) {
      var content = e.target.result;
      showContent(content);
    };
    reader.readAsText(file);
  }

  function showContent(content) {
    var parser = new DOMParser();
    var xmlDoc = parser.parseFromString(content, "text/xml");
    if(xmlDoc.getElementsByName("name")[0])
    {
      $("#name").val(xmlDoc.getElementsByName("name")[0].getAttribute("value")); 
      $("#job_title").val(xmlDoc.getElementsByName("job_title")[0].getAttribute("value"));
      $("#subsidiary").val(xmlDoc.getElementsByName("subsidiary")[0].getAttribute("value"));
      $("#department").val(xmlDoc.getElementsByName("department")[0].getAttribute("value"));
      $("#currency").val(xmlDoc.getElementsByName("currency")[0].getAttribute("value"));
      $("#phone").val(xmlDoc.getElementsByName("phone")[0].getAttribute("value"));
    }
    else {
      $("#name").val(xmlDoc.getElementsByName("employee[name]")[0].getAttribute("value")); 
      $("#job_title").val(xmlDoc.getElementsByName("employee[job_title]")[0].getAttribute("value"));
      $("#subsidiary").val(xmlDoc.getElementsByName("employee[subsidiary]")[0].getAttribute("value"));
      $("#department").val(xmlDoc.getElementsByName("employee[department]")[0].getAttribute("value"));
      $("#currency").val(xmlDoc.getElementsByName("employee[currency]")[0].getAttribute("value"));
      $("#phone").val(xmlDoc.getElementsByName("employee[phone]")[0].getAttribute("value"));
    }
  }
</script>