<h1>Editar empleado</h1>
<%= form_tag("/employees/#{@employee.id}", method: :put, model: :employee) do -%>
  <% if @employee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@employee.errors.count, "error") %> prohibió a este empleado de ser guardado:</h2>

      <ul>
      <% @employee.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <strong>
    <%= label_tag "Nombre completo" %><br />
    </strong>
    <%= text_field_tag :name, value = @employee.name %>
  </div>

  <div class="field">
    <strong>
    <%= label_tag "Título profesional" %><br />
    </strong>
    <%= text_field_tag :job_title, value = @employee.job_title %>
  </div>

  <div class="field">
    <strong>
    <%= label_tag "Subsidiaria" %><br />
    </strong>
    <%= text_field_tag :subsidiary, value = @employee.subsidiary %>
  </div>

  <div class="field">
    <strong>
    <%= label_tag "Departamento" %><br />
    </strong>
    <%= text_field_tag :department, value = @employee.department %>
  </div>

  <div class="field">
    <strong>
    <%= label_tag "Moneda" %><br />
    </strong>
    <%= text_field_tag :currency, value = @employee.currency %>
  </div>

  <div class="field">
    <strong>
    <%= label_tag "Teléfono" %><br />
    </strong>
    <%= text_field_tag :phone, value = @employee.phone %>
  </div>
  <!--
  <h2>Habilidades</h2>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">ID Interno</th>
        <th scope="col">Nombre</th>
        <th scope="col">Descripción</th>
        <th scope="col">Grado de dificultad</th>
        <th scope="col">Grado de dominancia</th>
        
        <th colspan="3"></th>
        
      </tr>
    </thead>

    <tbody>
      <% if dominates = Dominate.find_by_employee_id(@employee.id) %>
        <% skills = [] %>
        <% dominates = dominates.is_a?(Array) ? dominates : [dominates] %>
        <% dominates.each do |dominate| %>
        <% skill = Skill.find(dominate.skill_id) %>
          <tr>
          <td><%= skill.id %></td>
          <td><%= skill.name %></td>
          <td><%= skill.description %></td>
          <td><%= skill.degree_of_difficulty %></td>
          <td><%= dominate.degree_of_dominance %></td>
            <td><%= link_to 'Editar', edit_dominate_path(dominate) %></td>
            <td><%= link_to 'Eliminar', dominate, method: :delete, data: { confirm: '¿Estás seguro?' } %></td>
          </tr>
        <% skills.push(skill) %>
        <% end %>
      <% end %>
    </tbody>
  </table>
  -->
  <div class="actions">
    <%= submit_tag "Guardar" %>
  </div>
<% end -%>

<%= link_to 'Cancelar', employees_path + "/#{@employee.id}" %> |
<%= link_to 'Regresar', employees_path %>
