<p id="notice"><%= notice %></p>
<p>
  <strong>Nombre completo:</strong>
  <%= @employee.name %>
</p>

<p>
  <strong>Título profesional:</strong>
  <%= @employee.jobTitle %>
</p>

<p>
  <strong>Subsidiaria:</strong>
  <%= @employee.subsidiary %>
</p>

<p>
  <strong>Departamento:</strong>
  <%= @employee.department %>
</p>

<p>
  <strong>Modena:</strong>
  <%= @employee.currency %>
</p>

<p>
  <strong>Telefóno:</strong>
  <%= @employee.phone %>
</p>

<p>
  <strong>Fecha de contratación:</strong>
  <%= @employee.dateOfHire %>
</p>
<h2>Habilidades</h2>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">ID Interno</th>
      <th scope="col">Nombre</th>
      <th scope="col">Descripción</th>
      <th scope="col">Grado de dificultad</th>
      <th scope="col">Grado de dominancia</th>
      
      <th colspan="3"></th>
      
    </tr>
  </thead>

  <tbody>
    <% @employee.dominates.each do |dominate| %>
      <tr>
        <td><%= dominate.skill.id %></td>
        <td><%= dominate.skill.name %></td>
        <td><%= dominate.skill.description %></td>
        <td><%= dominate.skill.degree_of_difficulty %></td>
        <td><%= dominate.degree_of_dominance %></td>
        <td><%#= link_to 'Más detalles', skill_url %></td>
        <td><%= link_to 'Editar', dominate_path(dominate), method: :put %></td>
        <td><%= link_to 'Eliminar', dominate, method: :delete, data: { confirm: '¿Estás seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= pie_chart @employee.skills.group(:name).sum(:degree_of_dominance) %>

<%= link_to 'Editar', edit_employee_path(@employee) %> |
<%= link_to 'Regresar', employees_path %>
