<p id="notice"><%= notice %></p>
<p>
  <strong>Nombre completo:</strong>
  <%= @employee.name %>
</p>

<p>
  <strong>Título profesional:</strong>
  <%= @employee.job_title %>
</p>

<p>
  <strong>Subsidiaria:</strong>
  <%= @employee.subsidiary %>
</p>

<p>
  <strong>Departamento:</strong>
  <%= @employee.department %>
</p>

<p>
  <strong>Modena:</strong>
  <%= @employee.currency %>
</p>

<p>
  <strong>Telefóno:</strong>
  <%= @employee.phone %>
</p>

<p>
  <strong>Fecha de contratación:</strong>
  <%= @employee.date_of_hire %>
</p>
<h2>Habilidades</h2>
<% if Skill::StoredProcedures.all %>
  <%= link_to 'Agregar nueva habilidad', new_dominate_path + "?employee_id=#{@employee.id}" %>
<% else %>
  <span>Habilidades no disponibles para asignar</span>
<% end %>
<br />
<br />
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">ID Interno</th>
      <th scope="col">Nombre</th>
      <th scope="col">Descripción</th>
      <th scope="col">Grado de dificultad</th>
      <th scope="col">Grado de dominancia</th>
      
      <th colspan="3"></th>
      
    </tr>
  </thead>

  <tbody>
    <% if dominates = Dominate::StoredProcedures.find_by_employee_id(@employee.id) %>
      <% skills = [] %>
      <% dominates = dominates.is_a?(Array) ? dominates : [dominates] %>
      <% dominates.each do |dominate| %>
      <% skill = Skill::StoredProcedures.find(dominate.skill_id) %>
        <tr>
          <td><%= skill.id %></td>
          <td><%= skill.name %></td>
          <td><%= skill.description %></td>
          <td><%= skill.degree_of_difficulty %></td>
          <td><%= dominate.degree_of_dominance %></td>
          <td><%#= link_to 'Más detalles', skill_url %></td>
          <td><%= link_to 'Editar', edit_dominate_path(dominate) %></td>
          <td><%= link_to 'Eliminar', dominates_path + "/#{dominate.id}", method: :delete, data: { confirm: '¿Estás seguro?' } %></td>
        </tr>
      <% skills.push(skill) %>
      <% end %>
    <% end %>
  </tbody>
</table>
<%#= pie_chart Employee.find(@employee.id).skills.group(:name).sum(:degree_of_dominance), donut: true %>

<%= link_to 'Editar', edit_employee_path(@employee) %> |
<%= link_to 'Regresar', employees_path %>
