<%= form_with(model: skill, local: true) do |form| %>
  <% if skill.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(skill.errors.count, "error") %> prohibited this skill from being saved:</h2>

      <ul>
      <% skill.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <strong>
    <%= form.label "Nombre" %><br />
    </strong>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <strong>
    <%= form.label "Descripción" %><br />
    </strong>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <strong>
    <%= form.label "Grado de dificultad" %><br />
    </strong>
    <%= form.number_field :degree_of_difficulty %>
  </div>

  <div class="actions">
    <%= file_field_tag 'attachment', onchange: "readFile(this)" %><br />
    <%= form.submit "Guardar habilidad" %><br />
    <%= form.submit "Guardar habilidad y generar XML", onclick: "download(this.form, 'skill')" %>
  </div>
<% end %>
<script>
  function readFile(e) {
    var file = $(e)[0].files[0];
    if (!file) {
      return;
    }
    var reader = new FileReader();
    reader.onload = function (e) {
      var content = e.target.result;
      showContent(content);
    };
    reader.readAsText(file);
  }

  function showContent(content) {
    var parser = new DOMParser();
    var xmlDoc = parser.parseFromString(content, "text/xml");
    $("#skill_name").val(xmlDoc.getElementsByName("name")[0].getAttribute("value"));
    $("#skill_description").val(xmlDoc.getElementsByName("description")[0].getAttribute("value"));
    $("#skill_degree_of_difficulty").val(xmlDoc.getElementsByName("degree_of_difficulty")[0].getAttribute("value"));
  }
</script>