<h1>Modificar habilidad</h1>

<%= form_tag("/skills/#{@skill.id}", method: :put, model: :skill) do -%>
  <% if @skill.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@skill.errors.count, "error") %> prohibido esta habilidad de ser guardada:</h2>

      <ul>
      <% @skill.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <strong>
    <%= label_tag "Nombre" %><br />
    </strong>
    <%= text_field_tag :name, value = @skill.name %>
  </div>

  <div class="field">
    <strong>
    <%= label_tag "Descripción" %><br />
    </strong>
    <%= text_field_tag :description, value = @skill.description %>
  </div>

  <div class="field">
    <strong>
    <%= label_tag "Grado de dificultad" %><br />
    </strong>
    <%= number_field_tag :degree_of_difficulty,  value = @skill.degree_of_difficulty %>
  </div>
  <div class="actions">
    <%= file_field_tag 'attachment', onchange: "readFile(this)" %><br />
    <%= submit_tag "Actualizar habilidad" %><br />
    <%= submit_tag "Actualizar habilidad y generar XML", onclick: "download(this.form, 'skill')" %>
  </div>
<% end -%>


<%= link_to 'Cancelar',  skills_path + "/#{@skill.id}" %> |
<%= link_to 'Regresar', skills_path %>
<script>
  function readFile(e) {
    var file = $(e)[0].files[0];
    if (!file) {
      return;
    }
    var reader = new FileReader();
    reader.onload = function (e) {
      var content = e.target.result;
      showContent(content);
    };
    reader.readAsText(file);
  }

  function showContent(content) {
    var parser = new DOMParser();
    var xmlDoc = parser.parseFromString(content, "text/xml");
    if (xmlDoc.getElementsByName("name")[0]) {
      $("#name").val(xmlDoc.getElementsByName("name")[0].getAttribute("value"));
      $("#description").val(xmlDoc.getElementsByName("description")[0].getAttribute("value"));
      $("#degree_of_difficulty").val(xmlDoc.getElementsByName("degree_of_difficulty")[0].getAttribute("value"));
    }
    else {
      $("#name").val(xmlDoc.getElementsByName("skill[name]")[0].getAttribute("value"));
      $("#description").val(xmlDoc.getElementsByName("skill[description]")[0].getAttribute("value"));
      $("#degree_of_difficulty").val(xmlDoc.getElementsByName("skill[degree_of_difficulty]")[0].getAttribute("value"));
    }
  }
</script>