<h1>Editar artículo</h1>

<%= form_tag("/items/#{@item.id}", method: :put, model: :item) do -%>
    <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item.errors.count, "error") %> prohibido este artículo de ser guardado:</h2>

      <ul>
      <% @item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <strong>
    <%= label_tag "Nombre" %><br />
    </strong>
    <%= text_field_tag :name, value = @item.name %>
  </div>

  <div class="field">
    <strong>
    <%= label_tag "Descripción" %><br />
    </strong>
    <%= text_field_tag :description, value = @item.description %>
  </div>

  <div class="field">
    <strong>
    <%= label_tag "Cantidad" %><br />
    </strong>
    <%= number_field_tag :quantity,  value = @item.quantity %>
  </div>

  <div class="actions">
    <%= file_field_tag 'attachment', onchange: "readFile(this)" %><br />
    <%= submit_tag "Actualizar artículo" %><br />
    <%= submit_tag "Actualizar artículo y generar XML", onclick: "download(this.form, 'item')" %>
  </div>
<% end -%>

<%= link_to 'Cancelar', items_path + "/#{@item.id}" %> |
<%= link_to 'Regresar', items_path %>
<script>
  function readFile(e) {
    var file = $(e)[0].files[0];
    if (!file) {
      return;
    }
    var reader = new FileReader();
    reader.onload = function (e) {
      var content = e.target.result;
      showContent(content);
    };
    reader.readAsText(file);
  }

  function showContent(content) {
    var parser = new DOMParser();
    var xmlDoc = parser.parseFromString(content, "text/xml");
    if (xmlDoc.getElementsByName("name")[0]) {
      $("#name").val(xmlDoc.getElementsByName("name")[0].getAttribute("value"));
      $("#description").val(xmlDoc.getElementsByName("description")[0].getAttribute("value"));
      $("#quantity").val(xmlDoc.getElementsByName("quantity")[0].getAttribute("value"));
    }
    else {
      $("#name").val(xmlDoc.getElementsByName("item[name]")[0].getAttribute("value"));
      $("#description").val(xmlDoc.getElementsByName("item[description]")[0].getAttribute("value"));
      $("#quantity").val(xmlDoc.getElementsByName("item[quantity]")[0].getAttribute("value"));
    }
  }
</script>