<%= form_with(model: dominate, local: true) do |form| %>
  <% if dominate.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(dominate.errors.count, "error") %> prohibió esta dominancia de ser guardado:</h2>

      <ul>
      <% dominate.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <%= hidden_field_tag :employee_id, params[:employee_id] %>
  
  <div class="field">
    <strong>
    <%= form.label "Habilidad" %><br />
    </strong>
    <% skills = Skill::StoredProcedures.all %>
    <% skills = skills.is_a?(Array) ? skills : [skills] %>
    <%= select_tag "skill_id", options_from_collection_for_select(skills, "id", "name") %>
  </div>

  <div class="field">
    <strong>
    <%= form.label "Grado de dominancia" %><br />
    </strong>
    <%= form.number_field :degree_of_dominance %>
  </div>

  <div class="actions">
    <%= form.submit "Actualizar dominancia" %>
  </div>
<% end %>
