<header class="navbar navbar-expand-lg navbar-light">
  <nav class="container">
    <%= link_to image_tag("red-orange-logo.png", class: "home_logo"), root_path, id: "logo"%>
    <ul class="navbar-nav">
      <li class="nav-item"><%= link_to "Inicio",  root_path,  class: "button" %></li>
      <li class="nav-item"><%= link_to "Ayuda",   help_path,  class: "button" %></li>
      <% if user_signed_in? %>
        <li class="nav-item"><%= link_to "Usuarios", users_path, class: "button" %></li>
        <li class="nav-item"><%= link_to "Empleados", employees_path, class: "button" %></li>
        <li class="nav-item"><%= link_to "Habilidades", skills_path, class: "button" %></li>
        <li class="nav-item"><%= link_to "Artículos", items_path, class: "button" %></li>
        <li class="nav-item"><%= link_to "Ajustes", current_user, class: "button" %></li>
        <li class="nav-item"><%= link_to "Cerrar sesión", destroy_user_session_path, :method => :delete, class: "button" %></li>
      <% else %>
        <li class="nav-item"><%= link_to "Iniciar sesión", new_user_session_path, class: "button" %></li>
        <li class="nav-item"><%= link_to "Registrarse", new_user_registration_path,    class: "button" %></li>
      <% end %>
    </ul>
  </nav>
</header> 